
body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.swal2-custom-popup {
  border-radius: 12px;
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.swal2-custom-button {
  background-color: #EA750E !important;
  color: white !important;
  border-radius: 6px !important;
  padding: 0.6rem 1.5rem !important;
  font-weight: bold !important;
  font-size: 1rem !important;
  transition: background-color 0.3s ease;
}

.swal2-custom-button:hover {
  background-color: #aa4f00 !important;
}


/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Match page background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ea750e;  /* Accent color */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Optional: padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #c25f0c; /* Slightly darker on hover */
}
