#navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  flex-wrap: wrap;
  align-items: center;
  background-color: #222;
}

#logo-img {
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#logo-img:hover {
  transform: scale(1.1);
}


.navigation-container .mobile-nav {
  display: none;
}



@media (max-width: 768px) {
  .navigation-container ul {
    font-size: 0.60rem;
    /* shrink text so it fits */
  }

  .navigation-container .icon {
    font-size: 1.2rem;
  }

  .navigation-container .left-items,
  .navigation-container .right-items {
    display: none;
  }

  .navigation-container .mobile-nav {
    display: block;
  }

}